.recipesWrapper {
  position: relative;
  top: 10vmax;
  display: inline-flex;
  flex-wrap: wrap;
  width: 310px;
  height: auto;
  margin: .75%;
  .recipeBlock {
    width: 100%;
    height: auto;
    background-color: $secondaryText;
    &:hover {
      box-shadow: 3px 3px 3px $lightPrimaryColor;
      color: $lightPrimaryColor;
      transition: ease .2s;
      cursor: pointer;
    }
    img {
      width: 100%;
    }
    h3 {
      margin: 2%;
    }
  }
}

.recipeBlockFooter {
  background-color: $text;
  color: $secondaryText;
  border: 1px solid $secondaryText;
  font-family: CustomFont;
  opacity: .7;
  width: auto;
  font-size: 15px;
  margin: 0;
  text-align: center;
  .ratingFavoriteWrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    width: 30%;
    color: $lightPrimaryColor;
    font-size: 15px;
    margin: 3%;
  }
  .emptyHeart {
    width: 10%;
    font-size: 20px;
    &:hover {
      color: red;
    }
  }
  .fullHeart {
    width: 10%;
    font-size: 20px;
    color: red;
  }
}
