
<!-- <ng-include src="'views/header.html'"></ng-include>
 --><article class="favoritesWrapper">
  <h1>Favorites</h1>
  <div class="favoritesDetailsBlock">
    <div class="favoritesBlockHeader">
      <h4>4.5 Stars</h4>
      <h4 class="favoritesEmptyHeart"><i class="fa fa-heart-o"></i></h4>
     <h4 class="favoritesFullHeart"><i class="fa fa-heart"></i></h4>
    </div>
    <aside class="favoritesInfoBlock">
      <h2 class="favoritesTitle">Recipe Title</h2>
      <p class="favoritesIngredientsBlock">
        <h4 class="favoritesIngredientsTitle">Ingredients</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="favoritesDirectionsBlock">
        <h4 class="favoritesDirectionsTitle">Directions</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </aside>
    <aside class="favoritesImageGalleryBlock">
      <div class="favoritesImageBlock">
        <img class="favoritesLargeImage" src="images/crabCakeSandwich.jpg" alt="">
      </div>
      <div class="favoritesImageGalleryFooter">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
      </div>
    </aside>
  </div>
  <div class="favoritesDetailsBlock">
    <div class="favoritesBlockHeader">
      <h4>4.5 Stars</h4>
      <h4 class="favoritesEmptyHeart"><i class="fa fa-heart-o"></i></h4>
     <h4 class="favoritesFullHeart"><i class="fa fa-heart"></i></h4>
    </div>
    <aside class="favoritesInfoBlock">
      <h2 class="favoritesTitle">Recipe Title</h2>
      <p class="favoritesIngredientsBlock">
        <h4 class="favoritesIngredientsTitle">Ingredients</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="favoritesDirectionsBlock">
        <h4 class="favoritesDirectionsTitle">Directions</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </aside>
    <aside class="favoritesImageGalleryBlock">
      <div class="favoritesImageBlock">
        <img class="favoritesLargeImage" src="images/crabCakeSandwich.jpg" alt="">
      </div>
      <div class="favoritesImageGalleryFooter">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
      </div>
    </aside>
  </div>
  <div class="favoritesDetailsBlock">
    <div class="favoritesBlockHeader">
      <h4>4.5 Stars</h4>
      <h4 class="favoritesEmptyHeart"><i class="fa fa-heart-o"></i></h4>
     <h4 class="favoritesFullHeart"><i class="fa fa-heart"></i></h4>
    </div>
    <aside class="favoritesInfoBlock">
      <h2 class="favoritesTitle">Recipe Title</h2>
      <p class="favoritesIngredientsBlock">
        <h4 class="favoritesIngredientsTitle">Ingredients</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="favoritesDirectionsBlock">
        <h4 class="favoritesDirectionsTitle">Directions</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </aside>
    <aside class="favoritesImageGalleryBlock">
      <div class="favoritesImageBlock">
        <img class="favoritesLargeImage" src="images/crabCakeSandwich.jpg" alt="">
      </div>
      <div class="favoritesImageGalleryFooter">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
      </div>
    </aside>
  </div>
  <div class="favoritesDetailsBlock">
    <div class="favoritesBlockHeader">
      <h4>4.5 Stars</h4>
      <h4 class="favoritesEmptyHeart"><i class="fa fa-heart-o"></i></h4>
     <h4 class="favoritesFullHeart"><i class="fa fa-heart"></i></h4>
    </div>
    <aside class="favoritesInfoBlock">
      <h2 class="favoritesTitle">Recipe Title</h2>
      <p class="favoritesIngredientsBlock">
        <h4 class="favoritesIngredientsTitle">Ingredients</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="favoritesDirectionsBlock">
        <h4 class="favoritesDirectionsTitle">Directions</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </aside>
    <aside class="favoritesImageGalleryBlock">
      <div class="favoritesImageBlock">
        <img class="favoritesLargeImage" src="images/crabCakeSandwich.jpg" alt="">
      </div>
      <div class="favoritesImageGalleryFooter">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
      </div>
    </aside>
  </div>
  <div class="favoritesDetailsBlock">
    <div class="favoritesBlockHeader">
      <h4>4.5 Stars</h4>
      <h4 class="favoritesEmptyHeart"><i class="fa fa-heart-o"></i></h4>
     <h4 class="favoritesFullHeart"><i class="fa fa-heart"></i></h4>
    </div>
    <aside class="favoritesInfoBlock">
      <h2 class="favoritesTitle">Recipe Title</h2>
      <p class="favoritesIngredientsBlock">
        <h4 class="favoritesIngredientsTitle">Ingredients</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="favoritesDirectionsBlock">
        <h4 class="favoritesDirectionsTitle">Directions</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </aside>
    <aside class="favoritesImageGalleryBlock">
      <div class="favoritesImageBlock">
        <img class="favoritesLargeImage" src="images/crabCakeSandwich.jpg" alt="">
      </div>
      <div class="favoritesImageGalleryFooter">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
      </div>
    </aside>
  </div>
  <div class="favoritesDetailsBlock">
    <div class="favoritesBlockHeader">
      <h4>4.5 Stars</h4>
      <h4 class="favoritesEmptyHeart"><i class="fa fa-heart-o"></i></h4>
     <h4 class="favoritesFullHeart"><i class="fa fa-heart"></i></h4>
    </div>
    <aside class="favoritesInfoBlock">
      <h2 class="favoritesTitle">Recipe Title</h2>
      <p class="favoritesIngredientsBlock">
        <h4 class="favoritesIngredientsTitle">Ingredients</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="favoritesDirectionsBlock">
        <h4 class="favoritesDirectionsTitle">Directions</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </aside>
    <aside class="favoritesImageGalleryBlock">
      <div class="favoritesImageBlock">
        <img class="favoritesLargeImage" src="images/crabCakeSandwich.jpg" alt="">
      </div>
      <div class="favoritesImageGalleryFooter">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
        <img class="favoritesThumbImg" src="images/crabCakeSandwich.jpg" alt="">
      </div>
    </aside>
  </div>
</article>
