<div class="landingPageWrapper" ng-controller="LandingController as LandingCtrl">
  <form action="" class="landingPageForm">
    <div class="recipeMe">
      <h1 class="recipe">recipe</h1>
      <h1 class="Me">Me</h1>
    </div>
    <p class="tagPhrase">Recipe ideas that tease the tastebuds!</p>
    <div class="usernameWrapper">
      <input class="username" type="text" placeholder="Username">
    </div>
    <div class="enterWrapper">
      <input class="enter" type="button" name="enter" value="Enter">
    </div>
  </form>
</div>
