<!-- <ng-include src="'views/header.html'"></ng-include>
 --><div class="recipesWrapper">
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
<div class="recipesWrapper" >
  <div class="recipeRow">
    <div class="recipeBlock">
      <img src="images/crabCakeSandwich.jpg" alt=""/>
      <div class="recipeBlockFooter">
        <div class="ratingFavoriteWrapper">
          <h4>4.5 Stars</h4>
          <h4 class="emptyHeart"><i class="fa fa-heart-o"></i></h4>
         <h4 class="fullHeart"><i class="fa fa-heart"></i></h4>
        </div>
        <h3 class="recipeTitle">Crab Cake Sandwich</h3>
      </div>
    </div>
  </div>
</div>
