<div class="ingredientsWrapper">
  <div class="ingredientsForm">
    <h1>What'cha workin' with...</h1>

    <div class="ingredientsInputWrapper">
      <input type="text" placeholder="Ingredients...">
      <button type="submit" name="addIngredients"><i class="fa fa-plus"></i></button>
    </div>

    <div class="time">
      <h3>How long 'til you grub?</h3>
      <select name="time" id="timeSelect" >
      <option>.5 hr</option rel="1">
      <option> 1 hr</option rel="2">
      <option> 1.5hr</option rel="3">
      <option> 2 hr</option rel="4">
      </select>
    </div>
  </div>
</div>
